.contenedor-carousel{
    margin-top: 70px;
}
.image-slider{
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.title-slider{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.description-slider{
    font-family: 'Montserrat', sans-serif;
}